
<div align="center">
  <h2>Choose an opponent</h2>
</div>

<!-- prints out usernames of people in the database (can click on them?)-->

<form action="/game" method="post">
	<button class="button" id="opponent">Opponent</button>
</form>

<% @opponents.each do |i| %>
	<div><input type="radio" name="opponent" value="<%= i['username_id']%>"/><%= i['username']%></div>
	<%end$>

