
<div align="center">
  <h2>Choose an opponent</h2>
</div>

<!-- prints out usernames of people in the database (can click on them?)-->

<!-- <form action="/game" method="post">
	<button class="button" id="opponent" value="chrisoen">chrisoen</button>
</form>

<a class="button" href="/game/<%= @username %>"></a> -->

<% @opponents.each do |x| %>
<a class="button" href="/game/<%= x['username'] %>"><%=x['username']%></a>
	<%end%>


