

<div align="center">
  <h2>Welcome <%= @user.username %>! </h2>
</div>

<form action="/new-game" method="get">
	<button class="button" id="new_game">Start New Game</button>
</form>

<!-- div showing games in progress that are your turn -->

<!-- div showing games in progress that are opponents turn -->

<!-- div showing past games -->


