

<div align="center">
  <h2>Welcome! </h2>
</div>

<form action="/start-game" method="get">
	<button class="button" id="start_game">Start Game</button>
</form>

<!-- div showing games in progress that are your turn -->

<!-- div showing games in progress that are opponents turn -->

<!-- div showing past games -->


