@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,300italic|Raleway);

$light-gray: #B5B5B5;
$dark-gray: #5C554F;
$gold: #CCA347;
$gold-dark: #7F662C;
$very-dark-gold: #261F0F;


a {
	transition: all .2s ease-in-out;
	&:hover {
	}
}
button {
	transition: all .2s ease-in-out;
	&:hover {
	}
}

body {
	display: block;
	text-align: center;
}

body div.row {
	margin: 0;
	max-width: 100%;
}
span.flash-homepage {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: 0.5rem;
	color: rgba(203, 163, 71, 0.6);
	width: 100%;
	padding: 1rem;
}
div.index {
	background-image:url('../../img/large_rps.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}
div.main-hero {
	// background-image:url('../../img/large_rps.png');
	// background-repeat: no-repeat;
	// background-size: 100%;
	padding: 6rem 1.62rem;
}
div.hero  {
	h1 {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
		font-size: 5rem;
		letter-spacing: 0.5rem;
	}
	padding: 3rem 1.62rem;
}
input.button.radius {
	border-radius: 0.9rem;
}
// SIGN IN PAGE STYLING
div.row.sign-in {
	h3 {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 3.1rem;
		font-variant: small-caps;
		letter-spacing: -0.01rem;
	}
	input {
		background-color: transparent;
		border: none;
		box-shadow: none;
		border-bottom: 1px solid $light-gray;
		margin: auto;
		.button .round {
			width: 12.3rem;
			border-radius: 2rem;
		}
	}
	input {
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.1rem;
		text-align: center;
	}
	// BUTTON STYLING
	input.button.radius.large-6.medium-6.small-6.columns {
		padding: 1rem;
	}
	button, .button {
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.1rem;
		background-color: $gold;
		margin-top: 2rem;
	}
	button, .button:hover{
		background-color: $gold-dark;
	}
}
	// placeholder text styling
	::-webkit-input-placeholder {
		font-family: 'Josefin Sans', sans-serif;
		letter-spacing: 0.1rem;
		text-align: center;
		color: $gold;
		font-size: 1.35rem;
	}

	:-moz-placeholder { /* Firefox 18- */
		font-family: 'Josefin Sans', sans-serif;
		letter-spacing: 0.1rem;
		text-align: center;
		color: $gold;
		font-size: 1.35rem;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		font-family: 'Josefin Sans', sans-serif;
		letter-spacing: 0.1rem;
		text-align: center;
		color: $gold;
		font-size: 1.35rem;
	}

	:-ms-input-placeholder {  
		font-family: 'Josefin Sans', sans-serif;
		letter-spacing: 0.1rem;
		text-align: center;
		color: $gold;
		font-size: 1.35rem;
	}

// Footer styling
footer {
	padding: 3rem;
}
footer h3 {
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.05rem;
}
footer 	a {
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	font-variant: small-caps;
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	margin-right: 1rem;
	margin-left: 1rem;
	color: $gold;
}
footer a:hover{
	color: $gold-dark;
}
// ____________________________________________________________________
// GAME PAGE STYLING
// ____________________________________________________________________
div.game-page-styling {
	background-image:url('../../img/large_hero_summary.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	// background-height: 10px;
	background-size: 100%;
	button.button {
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.1rem;
		margin-top: 2rem;
		border-radius: 1rem;
		.button-no-hover{
			background-color: transparent
			&.chosen{
				background-color: white;
				color: $gold;
			}
		}
		&.move{
			width: 80%;
			margin: 0;
			background-color: transparent;
			font-size: 1.5rem;
			border: 2px solid white;
			&:hover{
				background-color: white;
				color: $gold;
			}
			&.chosen{
				background-color: white;
				color: $gold;
			}
		}
		&.return{
			background-color: $gold;
			font-size: 1.5rem;
			&:hover{
				background-color: $gold-dark;
			}
		}
	}
}
div.row .game-page {
	margin: 0;
	padding: 0;
}
div.row .game-div {
	font-family: 'Raleway', sans-serif;
	// background-color: $light-gray;
	max-width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-top: 2rem;
	h3 {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;	
	}
	div.user-game a.button {
		font-family: 'Raleway', sans-serif;
		font-style: bold;
		background-color: $gold;
		width: 100%;
		border-radius: 0.9rem;
		letter-spacing: 0.1rem;
		margin-bottom: 0.5rem;
	}
	div.user-game a.button:hover {
		background-color: $gold-dark;
	}
	div.user-game a.button .disabled {
		background-color: $gold-dark;
	}
	div.user-game a.button .disabled:hover {
		background-color: $gold-dark;
	}
}
div.user-game, div.game-history, div.opp-game {
	background-color: rgba(204, 163, 71, 0.9);
	padding-bottom: 1.5rem;
}
div.user-game {

}
div.game-history {

	table {
		background-color: transparent;
		border: none;
		letter-spacing: 0.03rem;
		thead {
			background-color: transparent;
			tr th{
				color: white;
			}
		}
		tr{
			background-color: transparent;
			// text-color: white;
		}
	}
}
div.opp-game {
	p {
		font-size: 2rem;
		color: white;
		letter-spacing: 0.2rem;
	}
}
// ____________________________________________________________________
// Summary PAGE STYLING
// ____________________________________________________________________

div.welcome-hero.hero {
	padding-top: 5rem;
	margin: 0;
	h1 {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
		font-size: 5rem;
		letter-spacing: 0.5rem;
		color: $very-dark-gold;
	}
}
div.row.new-game-full {
	margin: 0;
}
div.new-game {
	padding-bottom: 4rem;
	input.button.radius.large-6.medium-6.small-6.columns {
		padding: 1rem;
	}
	button, .button {
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.1rem;
		background-color: $gold;
		margin-top: 2rem;
		border-radius: 1rem;
	}
	button, .button:hover{
		background-color: $gold-dark;
	}
}
div.row.gold-background{
	background-color: $gold;
	padding: 2rem 2rem 4rem 2rem;
	div.row.overview h3 {
		margin: 0;
	}
}
div.your-move, div.opp-move {
	h4 {
		padding-bottom: 1rem;
		font-variant: small-caps;
	}
	background-color: white;
	border-radius: 0.45rem;
	padding: 2rem;
	// active game button styling
	button.button {
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.3rem;
		// background-color: $gold-dark;
		// color: white;
		border: 2px solid $gold;
		width: 100%;
		border-radius: 0.5rem;
		color: $gold;
		background-color: transparent;
	}
	button.button:hover {
		color: $light-gray;
		border-color: $light-gray;
	}
}
div.median {
	width: 10%;
}
div.row.summary {
	width: 100%;
	h3, h4 {
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.1rem;
		// color: white;
	}
	h3 {
		font-variant: small-caps;
		font-size: 3rem;
		padding-bottom: 2rem;
		color: $very-dark-gold;
		margin: 0;
	}
	h4 {
		font-size: 1.6rem;
	}
}
div.row.welcome-span {
	background-image:url('../../img/rps_ready_front.png');
	background-repeat: no-repeat;
	background-position: 45%;
	background-attachment: fixed;
	background-height: 40vh;
	// background-height: 10px;
	background-size: 90vh;
}

div.row.past-games {
	background-image:url('../../img/large_hero_summary.png');
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: 100%;
	background-attachment: fixed;
	padding: 3rem 1.5rem 5rem 1.5rem;
	h4 {
		font-variant: small-caps;
		font-size: 1.6rem;
		padding-bottom: 2rem;
		color: $very-dark-gold;
		margin: 0;
	}
	.row.row.table {
		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 2rem;
		table {
			border: none;
			background-color: transparent;
			tr {
				margin-bottom: 2px;
				background-color: rgba(158, 158, 158, 0.6);
			}
			td {
				border: none;
				font-size: 1.62rem;
				border-bottom: 2px solid $gold;
				color: white;
				letter-spacing: 0.05rem;
			}
		}
	}
}
div.row.sign-out {
	background-color: $gold;
	button, .button {
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.1rem;
		background-color: white;
		color: $gold;
		margin-top: 2rem;
		border-radius: 1rem;
	}
	button, .button:hover{
		background-color: $gold-dark;
	}
}

// ____________________________________________________________________
// New_Game.erb PAGE STYLING
// ____________________________________________________________________
div.row.new-game-hero{
		padding: 4rem 1.62rem 5rem 1.62rem;
	h1 {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
		font-size: 5rem;
		letter-spacing: 0.5rem;
	}
}
div.new-game-full {
	button {
		display: inline-block;
	}
	background-image:url('../../img/rps_ready_hero.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 30%;
		button, .button {
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.1rem;
		background-color: $gold;
		margin-top: 2rem;
		border-radius: 1rem;
	}
	button, .button:hover{
		background-color: $gold-dark;
	}
}








